:root {
            --pf-backround-color: #121212;
            --pf-foreground-white: #e1e1e1;
            --pf-default-text-color: var(--pf-foreground-white)
        }

        @font-face {
            font-family: 'artonex';
            src: url("fonts/Artonex Trial.ttf");
        }
        @font-face {
            font-family: 'organix';
            src: url("fonts/Organix.otf");
        }

        * {
            box-sizing: border-box;
            margin: 0;
            padding: 0;
            color: var(--pf-default-text-color);
            /* border: 1px solid var(--pf-foreground-white); */
        }

        body {
            display: block;
            position: fixed;
            background-color: var(--pf-backround-color);
            width: 100vw;
            height: 100vh;
            min-width: 800px;
            min-height: 917px;
        }

        .pf-slide-wrapper {
            height: 100%;
            width: 100%;
            position: relative;
        }

        .pf-slide-wrapper body {
            position: relative;
        }

        .pf-desktop-slides {
            position: absolute;
            height: 100%;
            width: 100%;
        }

        .main {
            z-index: 99999;
        }

        .main .nav {
            max-height: 15%;
            width: 100%;
            position: relative;
            background-color: transparent;
        }

        .main .nav .drop-down {
            display: inline-block;
            padding: 40px;
        }

        .nav #AUTHOR {
            display: inline-block;
            font-family: 'Segoe UI';
        }

        .nav #AUTHOR {
            font-style: normal;
            text-emphasis: none;
        }
        .main .main-design {
            display: flex;
            height: 70%;
            justify-content: center;
            align-items: center;
        }

        .main-design #main-design-text {
            display: inline-block;
            font-family: artonex, organix;
            font-size: 12.5ch;
            color: var(--pf-default-text-color);
            letter-spacing: -.05ch;
        }

        #main-design-text span {
            display: inline-block;
            position: relative;
        }
        #main-design-text > span:first-child {
            /* color: #1884f0; */
            color: #2464bb;
            font-size: .9ch;
            vertical-align: baseline;
            font-family: organix;
            writing-mode: sideways-lr;
        }
        .main .footer {
            height: 15%;
        }